<!doctype html>
<head>
  <title>My new Kubernetes App</title>
</head>
<html>
  <body>
    <div>
      <h1>Thank you for listening</h1>
    </div>
    <div>
      <p>We have successfully created an ingress controller and we can see this.</p>
      <p>Consistency and Discipline is the secret to success in the tech industry</p>
      <p>It is interesting to note that we deployed this app on    
        <b> </b><script type="text/javascript">
         document.write(utcdate)
        </script></b></p>
      </div>
  </body>
  <script>
    var utcdate = new Date($`{{ date }}`).toUTCString();
</script>
</html>